---
layout: default
---

{% assign categoryImage = false %}
{% for mainCategory in site.data.categories %}
	{% if mainCategory.category == page.category %}
		{% capture color %} 
	  		{{ mainCategory.color }} 
		{% endcapture %} 
        {% capture categoryName %} 
            {{ mainCategory.name }} 
        {% endcapture %} 

        {% if mainCategory.image %}
            {% capture categoryImage %} 
                {{ mainCategory.image }} 
            {% endcapture %} 
        {% endif %}
	{% endif %}
{% endfor %}

<header id="post-header">
    <h1 id="post-title" style="color: {{ color }}">{{ categoryName }}</h1>
    {% if categoryImage %}<img src="{{ categoryImage }}" style="float: right;" />{% endif %}
</header>



{% unless page.content == '' %}
  <p>{{ page.content }}</p>
{% endunless %}

<div id="post-content">
    {% if site.categories[page.category] %}
    <div class="list-group">
        <h3>Nouvelle(s) du recueil</h3>
        {% for post in site.categories[page.category] %}			
            <a href="{{ post.url }}/" class="list-group-item">
                <h4 class="list-group-item-heading">{{ post.title }}</h4>
            </a>
        {% endfor %}
                </div>
    {% else %}
        <p>Ce recueil ne contient aucune nouvelle pour l'instant</p>
    {% endif %}
</div>
